<div class="flex justify-center">
  <nz-card style="width: 800px" class="shadow-lg">
    <nz-descriptions nzTitle="profile" [nzLayout]="'vertical'" >
      <nz-descriptions-item nzTitle="Employee Name"  >
        Zhou Maomao
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Mobile Number"
        >18100000000</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Email ID"
        >sudesh.surve223.com</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="User Role">Admin</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Creation Date">
        10-10- 2024
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</div>



<!-- <nz-descriptions nzTitle="User Info" nzLayout="vertical">
  <nz-descriptions-item nzTitle="UserName">Zhou Maomao</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Telephone">1810000000</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Live">Hangzhou, Zhejiang</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Address" [nzSpan]="2">
    No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Remark">empty</nz-descriptions-item>
</nz-descriptions> -->
