<div class="form-container bg-[url('/assets/images/bgadmin.jpg')] bg-cover">
  <div class="otp-form">
    <form nz-form [formGroup]="otpForm">
      <!-- Add the image above the input fields (optional) -->
      <div class="flex justify-center pb-7">
        <img class="h-14" [src]="npstLogo" alt="Logo" />
      </div>

      <!-- Mobile Number Input -->
      <div div *ngIf="!otpSent">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your mobile number!">
            <label>Register Mobile Number</label>
            <nz-input-group>
              <input class="w-full mt-2" type="text" nz-input pattern="[6-9][0-9]{0,9}" formControlName="mobileNo"
                placeholder="+91" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- Send OTP Button -->
        <button nz-button class="otp-form-button bg-npst-primary-color" [nzType]="'primary'" (click)="sendOTP()"
          [disabled]="otpForm.controls['mobileNo'].invalid">
          Send OTP
        </button>
      </div>
    </form>
    <!-- OTP Input (visible after OTP is sent) -->
    <div *ngIf="otpSent" class="otp-section">
      <ngx-otp-input #otpInput (otpComplete)="otpComplete($event)" (otpChange)="otpChange($event)"
        [options]="otpOptions"></ngx-otp-input>

      <button nz-button class="otp-form-button bg-npst-primary-color" [nzType]="'primary'" (click)="verifyOTP()"
        [disabled]="verifyOtpBtn">
        Verify OTP
      </button>
    </div>
  </div>
</div>