<!-- <div class="form-container bg-[url('/assets/images/bgadmin.jpg')] bg-cover">
  <form
    class="reset-form"
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
 
    <div class="flex justify-center pb-7">
      <img class="h-14" [src]="npstLogo" alt="Logo" />
    </div>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>New Passcode</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzErrorTip="Please input your new Passcode!"
      >
        <input
          nz-input
          type="password"
          formControlName="newPasscode"
          maxlength="4"
          placeholder="Enter New passcode"
          (ngModelChange)="validateConfirmPassword()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Confirm Passcode</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        [nzErrorTip]="passwordErrorTpl"
      >
        <input
          nz-input
          type="password"
          maxlength="4"
          formControlName="confirm"
          placeholder="Confirm your Passcode"
        />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.errors?.['required']"
            >Please confirm your Passcode!</ng-container
          >
          <ng-container *ngIf="control.errors?.['confirm']"
            >Passwords do not match!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button
          class="bg-npst-primary-color"
          nz-button
          nzType="primary"
          [disabled]="!validateForm.valid"
        >
          Submit
        </button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div> -->


<div class="form-container bg-[url('/assets/images/bgadmin.jpg')] bg-cover">
  <form class="reset-form" nz-form>
    <div class="flex justify-center pb-7">
      <img class="h-14" [src]="npstLogo" alt="Logo" />
    </div>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>New Passcode</nz-form-label>
      <nz-form-control [nzSpan]="9">
        <ngx-otp-input #newotpInput (otpComplete)="otpComplete($event , passcode.NEWPASSCOSE)"
          [status]="topStatusEnum.FAILED" (otpChange)="newPasscodeChange($event)"
          [options]="newPasscodeOptions"></ngx-otp-input>
      </nz-form-control>
      <div nz-col [nzSpan]="2" class="content-center cursor-pointer">
        <span class="flex justify-center text-2xl" *ngIf="!newotpInput.ngxOtpOptionsInUse.hideInputValues"
          (click)="showHide()" nz-icon nzType="eye" nzTheme="outline"></span>
        <span class="flex justify-center text-2xl" *ngIf="newotpInput.ngxOtpOptionsInUse.hideInputValues"
          (click)="showHide()" nz-icon nzType="eye-invisible" nzTheme="outline"></span>
      </div>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Confirm Passcode</nz-form-label>
      <nz-form-control [nzSpan]="9">
        <ngx-otp-input #confirmotpInput (otpComplete)="otpComplete($event , passcode.CONFIRMPASSCODE)"
          [status]="topStatusEnum.FAILED" (otpChange)="confirmPasscodeChange($event)"
          [options]="confirmPasscodeOptions"></ngx-otp-input>
      </nz-form-control>
      <div nz-col [nzSpan]="2" class="content-center cursor-pointer">
        <span (click)="showHideConmfirmPasscode()" *ngIf="!confirmotpInput.ngxOtpOptionsInUse.hideInputValues"
          class="flex justify-center  text-2xl" nz-icon nzType="eye" nzTheme="outline"></span>
        <span (click)="showHideConmfirmPasscode()" *ngIf="confirmotpInput.ngxOtpOptionsInUse.hideInputValues"
          class="flex justify-center  text-2xl" nz-icon nzType="eye-invisible" nzTheme="outline"></span>
      </div>

    </nz-form-item>

    <!-- Submit and Reset Buttons -->
    <nz-form-item>
      <nz-form-control [nzOffset]="9" [nzSpan]="12">
        <button class="bg-npst-primary-color" (click)="submitForm()" nz-button nzType="primary"
          [disabled]="disableSubmitBtn">
          Submit
        </button>
        <button nz-button (click)="resetForm()">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
