<div class="form-container bg-[url('/assets/images/bgadmin.jpg')] bg-cover">
  <form
    class="reset-form"
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <!-- Add the image above the input fields -->
    <div class="flex justify-center pb-7">
      <img class="h-14" [src]="npstLogo" alt="Logo" />
    </div>

    <!-- New Password Input -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>New Passcode</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        nzErrorTip="Please input your new Passcode!"
      >
        <input
          nz-input
          type="password"
          formControlName="newPasscode"
          maxlength="4"
          placeholder="Enter New passcode"
          (ngModelChange)="validateConfirmPassword()"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- Confirm Password Input -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Confirm Passcode</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        nzHasFeedback
        [nzErrorTip]="passwordErrorTpl"
      >
        <input
          nz-input
          type="password"
          maxlength="4"
          formControlName="confirm"
          placeholder="Confirm your Passcode"
        />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.errors?.['required']"
            >Please confirm your Passcode!</ng-container
          >
          <ng-container *ngIf="control.errors?.['confirm']"
            >Passwords do not match!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Submit and Reset Buttons -->
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button
          class="bg-npst-primary-color"
          nz-button
          nzType="primary"
          [disabled]="!validateForm.valid"
        >
          Submit
        </button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
