.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-form {
  max-width: 350px;
  width: 100%;
  padding: 24px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 8px;
}

.form-logo {
  text-align: center; /* Center the image */
  margin-bottom: 16px;
  display: flex;
  justify-content: center; /* Space between image and input fields */
}

.form-logo img {
  max-width: 100px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
}
